[Desktop Entry]
Name=Pamageli
Comment=Package Manager for Gntoo Linux (and Calculate Linux)
Exec=pamageli-launcher-gui
Icon=pamageli
Terminal=false
Type=Application
Categories=System;
